/* You can add global styles to this file, and also import other style files */
#github-ribbon {
    position: absolute;
    top: 0;
    left: 0;
}
#github-ribbon a img {
    width: 100px;
    height: 100px;
}

@media (min-width: 480px) {
    #github-ribbon a img {
        width: 149px;
        height: 149px;
    }
  }